.avatar_image{
  width: 100px;
  height: 100px;
  border: solid 10px #000;
  margin-right: 15px;
}
.avatar{
  width: 65%;
  display: flex;
  align-items: center;
}
.info_block{
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style-position: inside;
}
.header_block{
  width: 1000px;
  padding-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.first_block{
  display: flex;
  justify-content: space-between;
}
.link{
  line-height: 1px;
  text-decoration: none;
}
.code_block{
  font-size: 24px;
  width: 200px;
  height: 40px;
  padding-top: 10px;
  background-color: bisque;
}
.main_block{
  background-color: darkgrey;
}
.footer_block{
  display: flex;
  background-color: yellow;
  border: solid 2px #000;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
body{
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.specs_color{
  font-size: 30px;
  display: table;
  border-bottom: solid 1px;
  line-height: 50px;
  color: maroon;
}
.menu{
  display: flex;
  justify-content: space-between;
  padding: 10px 300px;
  font-size: 24px;
  line-height: 40px;
  border-bottom: solid 2px;
}